<header class="login-header">
		<section class="container">
			<div class="row text-center">
				<div class="col-md-12 login-header">
					<a href="javascript:void(0)"><img src="assets/images/logo.png" alt="Logo" class="img-responsive"/></a>	
					<p>Who said money can't buy happiness</p>
				  </div>
			</div>
		</section> 		
	</header>
	<alert-flash></alert-flash>	
<div class="container login-container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">			
				<h2>Change Password</h2>
				<div>Please enter new password below.</div>
				<div class="login-wrap">		
					<form role="form" name="login-form" #f="ngForm" class="form-horizontal" (ngSubmit)="forgotPasswordEmail(f.form)">						
						<div class="register-form-group">
							<div class="col-xs-12"> 
								<md-input-container class="material-full-width">								
							  <input type="text" mdInput maxlength="12" name="password" (blur)="validatePassword()" id="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required>								
								</md-input-container>
								<div *ngIf="(f.submitted && !password.valid) || (f.submitted && !model.isValidPassword)" class="login-invalid">Password should be minimum 8 and maximum 12 characters.</div>								
							</div>
						</div>
						<div class="register-form-group">
							<div class="col-xs-12"> 
								<md-input-container class="material-full-width">								
							  <input type="text" mdInput maxlength="12" name="confirmpassword" (blur)="validateConfirmPassword()" id="confirmpassword" placeholder="Confirm Password" [(ngModel)]="model.confirmpassword" #confirmpassword="ngModel" required>								
								</md-input-container>
								<div *ngIf="(f.submitted && !confirmpassword.valid) || (f.submitted && !model.isValidConfirmPassword)" class="login-invalid">Password and Confirm Password should be same.</div>								
							</div>
						</div>
                        <div class="form-group"> 
							<div class="col-xs-12 button-wrap text-center" *ngIf="!model.isResetPassword">
							  <button type="button" md-raised-button class="btn btn-default" (click)="CancelClick()">Cancel</button>
							  <button type="submit" md-raised-button class="btn btn-default primary-action-btn">Save</button>
							</div>
                            <div class="col-xs-12 button-wrap text-center" *ngIf="model.isResetPassword">                                
							  <button type="button" md-raised-button class="btn btn-default primary-action-btn" style="margin-left:100px" (click)="CancelClick()"><< Login</button>							  
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>